*
{
    margin:0%;
    padding:0%;
}
header
{
    width:100%;
    height:2rem;
    background-color:#daa520;
}
body 
{
    text-align:center;
}
#input
{
    width:25.9em;
    height:1.5em;
    border-radius:0.2em;
    margin-top:1.5em;
}
#btn
{
    margin-top:1.0em;
}
.Developer-Search
{
    position:absolute;
    left:10.0em;
    top:10.0em;
}
#title1
{
    Color:#daa520;
   margin-left:3.1em;
   
}
#btn
{
   font-size:1.5em;
   text-decoration:none;
   border-radius:4px;
   background-color:#daa520;
   padding:0.2em 0.6em;
   color:#ffffff;
   position:absolute;
   left:1%;
   top:80%;
}
#btn2
{
   font-size:1.5em;
   text-decoration:none;
   border-radius:4px;
   background-color:#ffffff;
   padding:0.2em 0.6em;
   color:#daa520;
   position:absolute;
   right:25%;
   top:75%;
}
.Developer-profile
{
    position:absolute;
    right:6.0em;
    top:2.0em;
    color:#daa520;
}
#Developer-name
{
    position:absolute;
    margin-left:30.8em;
    margin-top:3.0em;
    color: #a9a9a9;
}
#desc
{
    position:absolute;
    margin-left:30.8em;
    margin-top:4.5em;
    color: #a9a9a9;
}
#Fotograf 
{
    width:10em;
    height:10em;
    position:absolute;
    right:23%;
    top:31%;
}
#title2
{
    position:absolute;
    margin-left:41.3em;
    margin-top:16em;
    color: #a9a9a9;
}
#title3
{
    position:absolute;
    margin-left:10em;
    margin-top:17em;
    color:#ffffff;
    Background-color:#daa520;
    border-radius:0.3em;
}
#liste
{
    position:absolute;
    margin-left:64em;
    margin-top:28em;
    color: #a9a9a9;
}
footer
{
    position:absolute;
    width:100%;
    height:2em;
    bottom:0%;
    background-color:#daa520;
}
